/* @override http://localhost:5050/css/custom.css */

/* Written by Jacobus van Niekerk for Pylons HQ - LexMachina - 15 July 2008 - azapi.com - version 1.2 */

body { background:#0f0f0f url(images/body-bg.jpg) repeat-x 0 0; margin:0; padding:0;}
#doc4 { position:relative; }
#hd { height:185px; position:relative;}
#bd { background:#fff;padding:20px;}
.home #bd { background:#fff url(images/content-bg.jpg) repeat-x 0 100%;padding:20px;}

/* LOGO */
#logo {position: absolute; top: 60px; left: 0;}
#logo, #logo span {height:68px; width:315px; color: #000; background: transparent url(images/pylons-logo.gif) no-repeat 0 0;}
h1#logo {color: #000;font-size:0; cursor: pointer;}
#logo span {background-color: transparent;}

/* nav */
#nav { color:#ffd630; position:absolute; top:25px; right:0;}
#nav * { margin:0; padding:0;}
#nav ul { margin-left:0!important; width:549px;}
#nav ul li{ list-style:none; float:left; width:100px; display:inline; position:relative; }
#nav ul a{ color:#ffd630; height:43px; line-height:37px; display:block; text-align:center;}
#nav ul li a { font-size:123.1%; font-weight:700;}
#nav ul li.selected a { color:#000;}
#nav ul li a:hover { text-decoration:underline;}

#nav ul ul { position:absolute; top:45px; left:0; width:auto;}
#nav ul ul li { display:block; position:relative; width:auto; float:none; margin-bottom:4px; *margin-bottom:3px;}
#nav ul ul li a{ text-decoration:none; font-weight:300; font-size:84.65%; padding:0 0 0 20px; color:#ffd630!important; background:none!important; text-align:left; height:auto; *height:1%;line-height:1.2;}
#nav ul ul li.selected a { background: transparent url(images/nav-sub-select.gif) no-repeat 5px 50%!important; text-decoration:underline;}

#nav ul li#nav-1 { width:88px;}
#nav ul li#nav-1.selected a {background: transparent url(images/nav-main-selected.gif) no-repeat 10px 0;}
#nav ul li#nav-2 { width:155px;}
#nav ul li#nav-2.selected a {background: transparent url(images/nav-main-selected.gif) no-repeat 10px -53px;}
#nav ul li#nav-3 { width:130px;}
#nav ul li#nav-3.selected a {background: transparent url(images/nav-main-selected.gif) no-repeat 10px -106px;}
#nav ul li#nav-4 { width:88px;}
#nav ul li#nav-4.selected a {background: transparent url(images/nav-main-selected.gif) no-repeat 10px 0;}
#nav ul li#nav-5 { width:88px;}
#nav ul li#nav-5.selected a {background: transparent url(images/nav-main-selected.gif) no-repeat 10px 0;}


/* content */
#bd { color:#2b2b2b; line-height:1.5;}
#bd a { color:#6f4706; text-decoration: none;}
.home #bd a:hover { text-decoration:underline; color:#f60}
.home #bd h3, .home #bd h4 { color:#6f4706; font-size:184.6%;font-family:Georgia, "Times New Roman", Times, serif; font-weight:300; margin-bottom:10px;}
#sidebar .home #bd ul, #sidebar .home #bd ol { margin-left:20px; padding-left:0;}
home #bd ul,.home #bd ol { margin-left:0px; padding-left:0;}


.home #bd ul li { font-size:84.65%; margin-bottom:10px; margin-left:0px;}
.home #bd ul li a{ font-size:118.25%;}
.home #bd ol li { list-style:none; background: transparent url(images/tickmark.gif) no-repeat 0 3px; margin-bottom:10px; padding-left:25px; margin-left:20px;}

#intro { padding:20px; position:relative; height:85px; background: #e88f00 url(images/intro-bg.gif) no-repeat 0 0; margin-bottom:20px; width:893px;}
#intro h2 { margin:0; padding:0; font-family:Georgia, "Times New Roman", Times, serif; font-size:215.4%; font-weight:300; color:#fff; }
#intro #download { width:240px; color:#fff; height:55px; position:absolute; top:20px; right:20px; padding: 10px 10px 8px 20px;}
#intro #download a { display:block; font-size:165%; font-weight:700; color:#fff;}

#bottom-content { padding-top:10px; border-top:1px dotted #f4f4f4;}

/* side content */
#search { background:transparent url(images/search-bg.gif) no-repeat 0 0; padding:20px; width:259px;}
#search-input { margin-right:5px; width:175px; padding:3px}


#sidebar h3, #bottom-content-sidebar h3 { color:#201e1e; font-family:Arial, Helvetica, sans-serif; background:#f1db88; padding:10px 20px; width:259px; margin:0;}
#sidebar ul, #sidebar ol{padding-left:0; margin-left:20px; padding-bottom:20px;}
#sidebar li { list-style:none; background: transparent url(images/side-arrow.gif) no-repeat 0 2px; padding-left:25px; margin-left:0!important;}
#sidebar p { padding:5px 20px 20px 20px;}
#sidebar .side-section{ background:#f0eeee url(images/sidebar-bg.gif) repeat-x 0 100%; width:299px;}

#sidebar #news h3 { background: transparent url(images/sidebar-h3.gif) no-repeat 0 0;}
#sidebar #usefull h3 { background: transparent url(images/sidebar-h3.gif) no-repeat 0 -61px;}

#bottom-content-sidebar form{ padding:20px;}
#bottom-content-sidebar form label { color:#000; display:block; font-size:138.5%;}
#bottom-content-sidebar #join h3 { background: transparent url(images/sidebar-h3.gif) no-repeat 0 -125px;}
#bottom-content-sidebar .input { width:245px; padding:3px;}
#bottom-content-sidebar .side-section{ background:#fcea99 url(images/bottom-sidebar-bg.gif) repeat-x 0 100%;}


/* Footer */
#ft { color:#f4f4f4; text-align:center; font-size:84.65%; padding:20px;}
#ft p { line-height:1.7;}
#ft a {color:#f6c058}
#ft a:hover { text-decoration:none; color:#f60}


/* helping styles */
.spacer {	clear:both;	font-size:0;}
.hide, hr, span#pageTitle {
	display:none;
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}


/* Global clear float fix */
.clearfix:after {    content: ".";     display: block;     height: 0;     clear: both;     visibility: hidden;}

/* Global IR code IR (Image Replacement )*/
.replace{      position:relative;      margin:0; padding:0;      /* \*/      overflow: hidden;      /* */}
.replace span{      display:block !important;      position:absolute !important;      top:0;      left:0;      z-index:1;}
*>html .clearfix {height: auto;}

/* Hides from IE-mac \*/
* html #container, * html .clearfix {height: 1%;} 
/* End hide from IE5/mac */