/* @override 
	http://localhost:5050/css/tweaks.css
*/

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color:#00607b;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight:300;
    margin: 10px -20px 0px -20px;
    padding: 3px 0 3px 10px;
    
}

.content h1 {
    font-size: 200%;
    color: #00607b;
}
.content h2 {
    font-size: 174%;
}
.content h3 {
    font-size: 161.6%;
}
.content h4 {
    font-size: 153.9%;
}

.content ul {
    margin-top: 0;
}
.content ul li ul {
}
.content ul li {
    line-height: 1.5;
    padding: 0;
    margin-bottom: 0;
}
div.content {
    font-size: 108%;
	padding: 0 20px;
}

.content a {
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}

h2           { font-size: 16px; margin: 1.3em 0 0.0 0; padding: 5px;
               background-color: transparent; color: #000; }
h2 em        { font-style: normal; color: #F5E08D; font-weight: normal; }
div.traceback, div.plain { background-color: #eee!important; border: 1px solid #ccc; margin: 0 0 1em 0; padding: 10px;}
div.traceback h3 { font-size: 1em; margin: 0 0 0.8em 0; }
div.traceback ul { list-style: none; margin: 0; padding: 0 0 0 1em; }
div.traceback ul li { list-style: none;}
div.traceback h4 { font-size: 13px; font-weight: normal; margin: 0.7em 0 0.1em 0; padding: 0;}
div.traceback ul li em { font-style: italic; }
cite {font-style: italic;}
div.traceback pre { margin: 0; padding: 3px 0 3px 10px;
 background-color: #ccc; border-top: 1px solid #aaa;
 border-left: 1px solid #aaa; border-right: 1px solid #fafafa;
 border-bottom: 1px solid #fafafa; font-size: 93%;}
.details {font-size: 14px;}
.errormsg {font-weight: bold;}
table.buildbot, table.buildbot tr td, table.buildbot tr th {border:none;}
table.buildbot {
    margin-left: 80px;
}
table.buildbot tr td.next {
    border-left: 1px solid #ddd;
}
table.buildbot thead {
    border-bottom: 1px solid #ddd;
}

table.buildbot thead th {
    line-height: 1.1;
    padding:0 0 4px 0;
    margin: 0;
}
table.buildbot tbody tr {
    line-height: 1.1;
    margin: 0;
}
table.buildbot tbody th {
    padding-right: 14px;
}
table.buildbot tr td {
    padding: 4px 54px 4px 24px;
}
table.buildbot td.result {
	padding-left: 22px;
	line-height: 1.4;
}

span.failure {
    color: #900;
    font-weight:700;
    background: transparent url(images/note.png) no-repeat 0% 50%;
    padding-left:25px;
}
tr.failure {
    color:  #900;
}
tr.success {
    color:  #090;
}
span.success {
    color: #090;
    font-weight:700;
}
table.buildbot span.success {
    color: #090;
    font-weight:700;
    background: transparent url(images/success.gif) no-repeat 0% 50%;
    padding-left:25px;
}
div.older table.buildbot tbody tr.run {
	border-top: 1px solid #ddd;
}

div.loadmore {
    margin: 0 0 0 30px;
    padding: 0;
}
div.viewtoggle a {
    background: transparent url(images/arrow-right.gif) no-repeat 0px 50%;
    padding-left:15px;
}
div.viewtoggle a.down {
    background: transparent url(images/arrow-down.gif) no-repeat 0px 50%;
    padding-left:15px;    
}
div.details {
    float: right;
    padding: 0;
    margin: 0 0 0 15px;
}
div.details a {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
}
table.buildbot tr td:hover div.details a {
	background: transparent url(images/information.gif) no-repeat 0 0;
	display: block;
	text-decoration: none;
}

/* Login bar */

.home #bd, #bd {
    position: relative;
    padding-top: 33px;
    margin-top: -20px;
}

div#loginbar {
	position: absolute;
	top: 0;
	left: 0;
    margin: 0;
    text-align: right;
    width: 100%;
    color: #ddd;
    font-size: 83%;
    height: 20px;
    background: transparent url(images/loginbar.jpg) repeat-x 0 0;    
}

div#loginbar .layoutstyle {
    float: left;
    padding: 1px 0 0 4px;
}

div#loginbar .links {
    margin-right: 15px;
    padding: 1px 0 0 0;
}
div#loginbar a {
    color: #ffd630;
    text-decoration: none;
    padding: 0 4px 0 4px;
}

div#loginbar a:hover {
    text-decoration: underline;
    color: #ffd630;
}

.home #bd h3 {
    color: #00607b;
}

/* Form Styling */
.fielderror { color: red; font-weight: bold; display: block;}

input.has_error, select.has_error, textarea.has_error { background-color: red; }
label.required { font-weight: bold; }
form table { border: none;}
form table tr, form table tr td { border: none;}
form table tr td {vertical-align: top;}
.fieldhelp {
    color: #888;
    font-size: 0.8em;
    display: block;
    padding-top: 4px;
}


/* User data */

div.user_post {
    padding: 4px;
    margin: 0;
    font-size: 77%;
    border: 1px solid #ddd;
}

div.user_post div.user_icon {
    float: left;
    padding: 0 6px 5px 0;
}

div.user_post div.username {
    font-weight: bold;
}

/* Overlay popup styling */
div.close {
    float: right;
    font-size: 93%;
    padding: 6px 8px 6px 20px;
    margin: 8px;
    border: 1px solid #ddd;
    background: transparent url(images/cross.gif) no-repeat 0px 50%;
}
div#build-details h2 {
    margin: 5px 0 0 20px;
    font-size: 131%;
    color: #6f4706;
}
div#build-details table td pre { 
	margin: 5px 0 5px 15px; 
	padding: 0px 0 3px 10px;
	border: 1px solid #ccc;
	background-color: #efefef;
	width: 820px;
	overflow: auto;
}

div#build-details table {
    margin: 20px 45px 0 25px;
    width: 850px;
}
div#build-details table td {
    border: none;
    line-height: 1.0;
    font-size: 85%;
}

div#build-details table .times {
    color: #999;
    font-size: 85%;
    text-align: center;
}
div#build-details table th{
    border: none;
    border-bottom: 1px solid #ddd;
}


div#paging {
    float: right;
    font-size: 77%;
}
div#paging div.showing {
    text-align: right;
}

/* Blog Entry */
form#new_article_form textarea {
    width: 650px;
    height: 300px;
}

form#new_article_form input.textfield {
    width: 350px;
}

/* Comments */
form#comment_form textarea {
    width: 600px;
    height: 150px;
}
div.comment_format{
    margin: 0 0 0 90px;
    font-size: 85%;
    padding: 0;
}

div.comments.user_post {
    width: 240px;
    border: none;
    float: left;
}

div.comment {
	clear: both;
    border-top: 1px solid #bbb;
    margin: 0;
    padding: 10px 0 19px 0;
    min-height: 35px;
}

div.comment.highlight {
    background: #effeff;
}

div.comment div.content {
    font-size: 93%;
    margin-left: 265px;
    width: 550px;
    padding: 2px 0 0 0;
}

p.suggest_comment {
    border-top: 1px solid #bbb;
    padding-top: 10px;
}

#comment_preview {
    border: 1px solid #bbb;
    padding: 5px;
    margin: 6px 4px;
    width: 550px;
} 

div.comment_delete {
    float: right;
    font-size: 77%;
    margin: 15px 5px 0 0;
    display: none;
}

div.comment:hover div.comment_delete {
    display: block;
}

div.tablestop {
    overflow: auto;
}

div.tablestop table.syntaxtable {
    padding-bottom: 0;
}

table.syntaxtable {
    border: none;
    width: 100%;
    padding-right: 20px;
}

table.syntaxtable td {
    border: none;
}
table.syntaxtable td.linenos {
    padding: 5px 0 0 0;
    margin: 0;
    vertical-align: top;
    text-align: right;
}
table.syntaxtable td.linenos pre {
    border: none;
    background: inherit;
}
table.syntaxtable td {
    padding-left: 0px;
    padding-right: 0px;
}
table.syntaxtable td.code pre {
    min-width: 540px;
    overflow: auto;
}
/* Traceback */

div.exception {
    border-bottom: 1px solid #ddd;
}
div.moduleline {
    color: #00607b;
    font-style:italic;
}
div.traceback_gravatar {
    float: left;
}
div.user_data {
    margin: 6px 0 0 36px;
    line-height: 1.2;
}
div.exception h2 {
    font-size: 123.1%;
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
    line-height: 1;
}
div.traceback_post.user_post {
	float: right;
    width: 200px;
}
div.exception div.frame {
    font-weight: bold;
}
div.exception_frame {
    font-size: 85%;
    padding: 0;
    margin: 10px 0 0 0;
    line-height: 1.2;
    clear: both;
}
div.traceback_posted {
    font-size: 85%;
    color: #444;
}

div.traceback_author {
    font-weight: bold;
}

h2.traceback em {
    color: #888;
    font-size: 77%;
}

div.traceback select#sort_order {
    float: right;
    font-size: 85%;
}

span.subtle {
    font-size: 77%;
}

div.traceback_delete {
    float: right;
    margin-right: 10px;
    font-weight: bold;
}

div.traceback h2 {
    margin: 0;
    padding: 0;
}

div.traceback div.description {
    float: left;
    width: 510px;
}

div.traceback div.description p {
	border: 1px solid #bbb;
	margin-right: 20px;
    padding: 6px;
    font-size: 93%;
}

div.traceback div.sysinfo div.language {
    font-weight: bold;
    color: #333;
}

div.traceback ul {
    padding-left: 0;
}

table#traceback_libs tr td {
    border: none;
    padding: 2px 8px 0 0;
}
table#traceback_libs tr {
    border-bottom: 1px solid #ccc;
}
table#traceback_libs {
    width: 100%;
}
div.sysinfo {
	margin: 20px 0 0 510px;
	border: 1px solid #bbb;
    height: 200px;
    width: 350px;
    overflow: auto;
    padding: 4px;
    font-size: 85%;
}

/* Snippet styling */

div.snippets div.user_post.header {
    float: right;
    width: 240px;
    margin-top: 15px;
    border: none;
}

div.snippets textarea {
    width: 550px;
}

div.snippets input.textfield, div.snippets input.autocomplete {
    width: 400px;
}

div.snippets textarea#snippet_form_content {
    height: 240px;
}

/* Pastebin styling */

div.pastebin div.user_post.header {
    float: right;
    width: 240px;
    margin-top: 18px;
}

div.pastebin textarea {
    width: 550px;
    height: 220px;
}

div.pastebin input.textfield, div.pastebin input.autocomplete {
    width: 400px;
}

div.pastelist.user_post {
	float: left;
    border: none;
    font-size: 85%;
    margin: 10px 0 0 0;
    padding: 0 0 0 4px;
    width: 270px;
}

div.pastie {
    clear: both;
    border-bottom: 1px solid #dedede;
    padding: 5px 0 0px 0;
    margin: 0;
}

div.pastebin div.clearfix {
    height: 0;
}

div.pastie div.pastedata {
    font-size: 85%;
    margin: 10px 0 0 0;
    line-height: 1.5;
    width: 300px;
    float: left;
}

div.pastebin h2.pastie {
    font-size: 123%;
    margin: 8px 0 0 0;
    padding: 0 5px 0 0;
    float: left;
    width: 310px;
}

/* Blog styling */

div.atomentry {
    margin-bottom: 30px;
}
div.atomentry h2.title {
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
}
div.atomentry p.author {
    margin: -5px 0 15px -9px;
    padding: 0;
    font-size: 108%;
    color: #888;
}
div.atomentry span.date, div.atomentry p.author cite {
    color: #555;
}
div.atomentry div.articlecontent h3, div.atomentry div.articlecontent h2 {
    margin: 4px 0 2px 0;
    padding: 0;
}
div.atomentry div.articlecontent p {
    margin: 0;
    padding: 0 0 15px 0;
}
div.atomentry div.articlecontent pre {
    margin: 0;
    padding: 0;
}

/* Autocomplete styling */
.yui_autocomplete_holder { position:relative; }

.yui_autocomplete {position:relative;width:100px;margin-bottom:1em;}/* set width of widget here*/
.yui_autocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */
#tags {position:absolute;width:450px;height:1.4em;z-index:0;} /* abs for ie quirks */
.yui_autocomplete {position:absolute;top:1.7em;width:140px;}
.yui_autocomplete .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
.yui_autocomplete .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
.yui_autocomplete ul {padding:5px 0;width:100%; list-style: none; margin: 0;}
.yui_autocomplete li {padding:0 5px;cursor:default;white-space:nowrap;}
.yui_autocomplete li.yui-ac-highlight {background: #eafec2;}
.yui_autocomplete li.yui-ac-prehighlight {background:#FFFFCC;}


/* Form errors */

span.error-message {
	padding: 2px 0 0 25px;
	color: red;
	height: 24px;
	display: block;
	margin: 8px 0 -14px 2px;
    background: url(/images/icons/dialog-error22.png) no-repeat left top;
}

.error {
	border: 1px solid red;
}


/* Markmail results */
div.itemlist div.result {
	margin-bottom: 5px;
	padding: 2px 0px 2px 4px;
	background-color: rgb(247, 247, 247);
	border: 1px solid rgb(235, 235, 235);
}

div.itemlist div.result div.meta {
	font-size: 0.8em;
	color: rgb(1, 116, 22);
}

p.results a {
    float: right;
}

div.itemlist div.blurb {
	font-size: 0.8em;
}

div.itemlist div.result a {
	text-decoration: underline;
	font-size: 0.9em;
	cursor: pointer;
}


/* Flash messages */
ul#success-flash-messages {
    color: green;
    background-color: #FFFFCC;
    font-size: larger;
    font-style: italic;
    margin-left: 40px;
    padding: 4px;
    list-style: none;
    border: 2px solid green;
    }

ul#failure-flash-messages {
    color: red;
    border: 2px solid red;
    background-color: #FFFFCC;
    font-size: larger;
    font-style: italic;
    margin-left: 40px;
    padding: 4px;
    list-style: none;
    }
ul#failure-flash-messages li, ul#success-flash-messages li {
    list-style: none;
}

#doc3 {
    min-width: 974px;
    margin-right: 30px;
    margin-left: 30px;
}

html {
    background-color: #0f0f0f;
}